.root { -fx-background-color: transparent; }
@font-face {
    font-family: Delicious;
    src: url("Fonts/kenvector_future_thin.ttf");
}

.text-area{
	-fx-background-color: transparent;
	-fx-font-family: Delicious;
	-fx-font-size: 24px;
}

.text-area .content{
      -fx-background-color: transparent;
  }

.button{
	 -fx-background-image: url("stats_button.png");
	 -fx-background-radius: 22px;
	    
}
